<h2>Create New Landmark</h2>

<!-- add content here -->
<form method="POST" action="/landmarks">
  <label for="landmark[name]">Name:</label>
  <input id="landmark_name" type="text" name="landmark[name]"/>
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]"/>

  <input type="submit" id="Create" value="Create New Landmark"/>
</form>


<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
